@import "font.css";

* {
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-family: "UbuntuMonoNerdFont";
    min-height: 0;
}

window#waybar {
	background-color: #282c34;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces {
	background-color: transparent;
}

#workspaces button {
	all: initial;
	/* Remove GTK theme values (waybar #1351) */
	min-width: 0;
	/* Fix weird spacing in materia (waybar #450) */
	box-shadow: inset 0 -3px transparent;
	/* Use box-shadow instead of border so the text isn't offset */
	padding: 2px 12px;
	margin: 4px 3px;
	border-radius: 4px;
	background-color: #1e1e2e;
	color: #cdd6f4;
}

#workspaces button.active {
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

#cpu,
#battery,
#network,
#bluetooth,
#clock,
#pulseaudio,
#custom-powermenu,
#memory {
	border-radius: 4px;
	margin: 4px 3px;
	padding: 0px 10px;
	color: #282c34;
}

#cpu {
	background-color: #50fa7b;
}

#memory {
	background-color: #ffb86c;
}

#battery {
	background-color: #ff79c6;
}

#network {
	background-color: #bd93f9;
}

#bluetooth {
	background-color: #ff5555;
}

#clock {
	background-color: #f38ba8;
}

#pulseaudio {
	background-color: #f1fa8c;
}

#custom-powermenu {
	background-color: #8be9fd ;
}

#tray,
#idle_inhibitor {
	margin: 4px 3px;
	padding: 0px 10px;
}
