.mc-lists.el
ac-comphist.dat
auto-save-list/
projectile-bookmarks.eld
projectile.cache
eshell/
config.el
elpa/
ido.last
recentf
session.*
transient/
\#recentf\#
.cache/
.lsp-session-v1
emojis/
quelpa/
url/
.sx/
.last-package-update-day
